<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="chat_wrap" id="chatWrap">
        <header class="header">
            <h1>Chat Bot ver 1.0.0</h1>
        </header>
        <div class="content" id="content">
            <!-- 동적으로 추가되는 채팅내역 -->
        </div>
        <footer class="footer cf">
            <div class="msg_sec cf">
                <button class="btn_at" id="btnAt"><img src="/img/ico_@.png" alt="@"></button>
                <form>
                    <input type="text" class="ipt_chat" id="iptChat" placeholder="메세지를 입력하세요." autocomplete="off">
                    <button class="btn_send" id="btnSend" disabled>SEND</button>
                </form>
            </div>
            <div class="at_sec" id="atSec">
                <div class="mach_command machCmd">@마하 거래시작</div>
                <div class="mach_command machCmd">@마하 거래안내</div>
                <div class="mach_command machCmd">@마하 거래중단</div>
                <div class="mach_command machCmd">@마하 거래흥정</div>
                <div class="mach_command machCmd">@마하 거래시작</div>
                <div class="mach_command machCmd">@마하 거래안내</div>
                <div class="mach_command machCmd">@마하 거래중단</div>
                <div class="mach_command machCmd">@마하 거래흥정</div>
            </div>
        </footer>
    </div>
    
<script src="js/custom.js"></script>
<script>
    var userId = "<%=userId%>";
    var loginToken = "<%=loginToken%>"
    var $content = $("#content");
    var $iptChat = $("#iptChat");
    var $btnSend = $("#btnSend");
    var origin = location.origin;


    addChat("챗봇","mach_id", "mach_speech", "안뇽~^^");

    $btnSend.bind("click", function(e) {
        var val = $iptChat.val();

        addChat("","my_id", "my_speech", val);

        $.ajax({
            method: "POST",
            url: "/logic",
            data: {"userText": val, "userId": userId, "loginToken": loginToken },
            cache:false
        }).done(function(data) {
            console.log(data);

            addChat("챗봇","mach_id", "mach_speech", data);//챗봇의 답변

            $content.scrollTop($content[0].scrollHeight);
            $iptChat.val("");

        }).fail(function(fail) {
            console.log(fail);
        });

    });

    function addChat(who, foo_id, foo_speech, text) {
        var userChat = '<div class="chat-wrap">'+
                            '<em class="'+foo_id+'">'+who+'</em>'+
                            '<div class="bubble '+foo_speech+'"><p>'+text+'</p></div>'+
                        '</div>'
        $content.append(userChat);
    }
</script>
</body>
</html>