<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/20509b7bad.js"></script>
</head>
<body>
    <div class="chat_wrap" id="chatWrap">
        <header class="header">
            <h1>MACH Chatbot</h1>
        </header>
        <div class="content" id="content">
            <!-- 동적으로 추가되는 채팅내역 -->
        </div>
        <span id="curtain" class="curtain"></span>
        <footer class="footer cf">
            <div class="msg_sec cf">
                <!-- <button class="btn_at" id="btnAt"><i class="fas fa-paper-plane"></i></button> -->
                <input type="text" class="ipt_chat" id="iptChat" autocomplete="off">
                <button class="btn_send" id="btnSend"><i class="fas fa-paper-plane"></i></button>
            </div>
            <div class="at_sec" id="atSec">
                <div class="mach_command machCmd" id="mach_command01"></div>
                <div class="mach_command machCmd" id="mach_command02"></div>
            </div>
        </footer>
    </div>  
<script src="js/custom.js"></script>
<script>
    var userId = "<%=userId%>";
    var loginToken = "<%=loginToken%>";
    var MarketMach_uri = "<%=MarketMach_uri%>";
    var $content = $("#content");
    var $iptChat = $("#iptChat");
    var $btnSend = $("#btnSend");
    var origin = location.origin;
    var country_code;
    var disabledBtn = true;

    var greetings = {
        ko: "안녕하세요~",
        en: "Hello"
    }

    $.ajax({
        method: "GET",
        url: MarketMach_uri+"/v1/users/"+userId,
    }).done(function(res) {
        country_code = res.data.country || "KR";
        if(country_code === "KR") {
            addChat("Chatbot","mach_id", "mach_speech", greetings.ko);
            $iptChat.attr("placeholder", "무엇을 도와드릴까요?");
            $("#mach_command01").text("MACH가 무슨 뜻이죠?");
            $("#mach_command02").text("자주 묻는 질문과 답변");
        } else if(country_code === "EN") {
            addChat("Chatbot","mach_id", "mach_speech", greetings.en);
            $iptChat.attr("placeholder", "input your text here");
            $("#mach_command01").text("What is MACH?");
            $("#mach_command02").text("FAQ");
        }
    }).fail(function(fail) {
        console.log(fail)
    })

    addTimeBox();

    $btnSend.on("click", function(e) {

        if(disabledBtn) {
            return;
        }

        
        call();
        $iptChat.val("");

        $btnSend
        .css({backgroundColor: "#dfe4ea",color: "#fff"})
        disabledBtn = true;
    });
    $iptChat.bind("keypress input", function(e) {
        if(e.type === "input") {
            var widthoutVoid = $iptChat.val().replace(/\s/gi,"");

            if($iptChat.val() == ""|| widthoutVoid == "") { //텍스트가 없거나 공백만 있을때

                $btnSend.css({backgroundColor: "#dfe4ea",color: "#fff"})
                disabledBtn = true;

            } else if($iptChat.val() != ""){ //텍스트가 존재할때

                $btnSend.css({backgroundColor: "#54a0ff",color: "#fff"})
                disabledBtn = false;

            }

        } else if(e.type === "keypress" && e.keyCode == 13) {
            if(disabledBtn) {
                return;
            }

            call();
            $iptChat.val("");

            $btnSend.css({backgroundColor: "#dfe4ea",color: "#fff"})
            disabledBtn = true;
        }
    });

    function call() {
        var val = $iptChat.val();

        addChat("","my_id", "my_speech", val);

        $.ajax({
            method: "POST",
            url: "/logic",
            data: {
                "userText": val, 
                "userId": userId, 
                "loginToken": loginToken, 
                "country": country_code
            },
            cache:false
        }).done(function(data) {
            var splitText = data.split("<br>")

            addChat("Chatbot","mach_id", "mach_speech", splitText);//챗봇의 답변

            $content.scrollTop($content[0].scrollHeight);

        }).fail(function(fail) {
            console.log(fail);
        });
    }
    function addChat(who, foo_id, foo_speech, text) {

        var isUrl = text[0].match(/^(file|gopher|news|nntp|telnet|https?|ftps?|sftp):\/\/([a-z0-9-]+\.)+[a-z0-9]{2,4}.*$/gi) != null;
        if(foo_speech == "my_speech") {
            //유저가 보낼 채팅
            var userChat = '<div class="chat-wrap">'+
                                    // '<em class="'+foo_id+'">'+who+'</em>'+
                                    '<div class="bubble '+foo_speech+'"><span class="chat_time">'+regDate()+'</span><p>'+text+'</p></div>'+
                            '</div>'

            $content.append(userChat);

        } else {
            //챗봇이 보낼 채팅
            if(typeof text === "object" && text.length > 1 ) { 
                //DB에서 넘어온 답변데이터가 배열일때
                var userChat = '<div class="chat-wrap">'+
                                    (function(){
                                        var chat = "";
                                        for(var i = 0, max = text.length; i < max; i++){
                                            chat += '<div class="bubble '+foo_speech+'">'+
                                                        '<em class="'+foo_id+'"></em>'+
                                                        '<div class="name_chat_wrap">'+
                                                            '<span class="bot_name">마하봇</span>'+
                                                            '<p>'+text[i]+'</p>'+
                                                        '</div>'+
                                                        '<span class="chat_time">'+regDate()+'</span>'+
                                                    '</div>';
                                        }
                                        return chat;
                                    })();
                                '</div>'

                $content.append(userChat);

            } else if(typeof text === "string" && isUrl == false || (typeof text === "object" && text.length === 1 && isUrl == false) ) {
                //DB에서 넘어온 답변데이터가 문자열일때
                var userChat = '<div class="chat-wrap">'+
                                    '<div class="bubble '+foo_speech+'">'+
                                        '<em class="'+foo_id+'"></em>'+
                                        '<div class="name_chat_wrap">'+
                                            '<span class="bot_name">마하봇</span>'+
                                            '<p>'+text+'</p>'+
                                        '</div>'+
                                        '<span class="chat_time">'+regDate()+'</span>'+
                                    '</div>'+
                                '</div>'

                $content.append(userChat);

            } else if(isUrl == true) {
                //DB에서 넘어온 답변데이터가 url형식의 문자열일때
                var userChat = '<div class="chat-wrap">'+
                                    '<div class="bubble '+foo_speech+'">'+
                                        '<em class="'+foo_id+'"></em>'+
                                        '<div class="name_chat_wrap">'+
                                            '<span class="bot_name">마하봇</span>'+
                                            '<p><a href="'+text+'" target="_blank">'+text+'</a></p>'+
                                        '</div>'+
                                        '<span class="chat_time">'+regDate()+'</span>'+
                                    '</div>'+
                                '</div>'

                $content.append(userChat);
            }

        }


    }
    function addTimeBox() {
        var dateObj = new Date();
        var weeks = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];

        var year = dateObj.getFullYear();
        var month = dateObj.getMonth()+1;
        var day = dateObj.getDay();
        var date = dateObj.getDate();
        var week = weeks[day];

        var todayText = year+"년 "+month+"월 "+date+"일 "+week;

        var timeBox = '<div class="reg_date"><p> '+todayText+' </p></div>';

        $content.append(timeBox);
    }
    function regDate() {
        var date =  new Date();

        var hours = date.getHours();
        var minutes = date.getMinutes() < 10 ? "0"+date.getMinutes() : date.getMinutes();

        if(hours > 12){
            var fixHours = hours - 12;

            if(fixHours < 10){
                return "0"+fixHours+":"+minutes+" 오후";
            } else {
                return fixHours+":"+minutes+" 오후";
            };
            
        } else {

            if(hours < 10) {
                return "0"+hours+":"+minutes+" 오전";
            } else {
                return hours+":"+minutes+" 오전";
            }
            
        }

    }
</script>
</body>
</html>