<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/20509b7bad.js"></script>
</head>
<body>
    <div class="chat_wrap" id="chatWrap">
        <header class="header">
            <h1>MACH Chatbot</h1>
        </header>
        <div class="content" id="content">
            <!-- 동적으로 추가되는 채팅내역 -->
        </div>
        <span id="curtain" class="curtain"></span>
        <footer class="footer cf">
            <div class="msg_sec cf">
                <button class="btn_at" id="btnAt"><i class="fas fa-paper-plane"></i></button>
                <input type="text" class="ipt_chat" id="iptChat" autocomplete="off">
                <button class="btn_send" id="btnSend" disabled>Send</button>
            </div>
            <div class="at_sec" id="atSec">
                <div class="mach_command machCmd" id="mach_command01"></div>
                <div class="mach_command machCmd" id="mach_command02"></div>
            </div>
        </footer>
    </div>
    
<script src="js/custom.js"></script>
<script>
    var userId = "<%=userId%>";
    var loginToken = "<%=loginToken%>";
    var $content = $("#content");
    var $iptChat = $("#iptChat");
    var $btnSend = $("#btnSend");
    var origin = location.origin;
    var country_code;

    var greetings = {
        ko: "안녕하세요~",
        en: "What's up"
    }

    $.ajax({
        method: "GET",
        url: "http://localhost:3000/v1/users/"+userId,
    }).done(function(res) {
        country_code = res.data.country || "KR";
        if(country_code === "KR") {
            addChat("Chatbot","mach_id", "mach_speech", greetings.ko);
            $iptChat.attr("placeholder", "메세지를 입력하세요.");
            $("#mach_command01").text("MACH가 무슨 뜻이죠?");
            $("#mach_command02").text("자주 묻는 질문과 답변");
        } else if(country_code === "EN") {
            addChat("Chatbot","mach_id", "mach_speech", greetings.en);
            $iptChat.attr("placeholder", "input your text here");
            $("#mach_command01").text("What is MACH?");
            $("#mach_command02").text("FAQ");
        }
    }).fail(function(fail) {
        console.log(fail)
    })

    $btnSend.on("click", function(e) {
        call();

        $btnSend
        .css({backgroundColor: "#fff",color: "#9c9c9c"})
        removeAttr("disabled");
    });

    $iptChat.bind("keypress input", function(e) {
        if(e.type === "input") {
            if($iptChat.val() == "") {
                $btnSend.css({backgroundColor: "#fff",color: "#9c9c9c", border: "1.5px solid #9c9c9c"})
                $btnSend.removeAttr("disabled");
            } else if($iptChat.val() != ""){
                $btnSend.css({backgroundColor: "#54a0ff",color: "#fff", border: "none"})
                $btnSend.attr("disabled");
            }
        } else if(e.type === "keypress" && e.keyCode == 13) {
            call();

            $btnSend.css({backgroundColor: "#fff",color: "#9c9c9c",})
            $btnSend.removeAttr("disabled");
        }
    });


    function call() {
        var val = $iptChat.val();

        addChat("","my_id", "my_speech", val);

        $.ajax({
            method: "POST",
            url: "/logic",
            data: {
                "userText": val, 
                "userId": userId, 
                "loginToken": loginToken, 
                "country": country_code
            },
            cache:false
        }).done(function(data) {
            var splitText = data.split("<br>")

            addChat("Chatbot","mach_id", "mach_speech", splitText);//챗봇의 답변

            $content.scrollTop($content[0].scrollHeight);
            $iptChat.val("");

        }).fail(function(fail) {
            console.log(fail);
        });
    }
    function addChat(who, foo_id, foo_speech, text) {

        if(typeof text === "object" && text.length > 1 ) {

            var userChat = '<div class="chat-wrap">'+
                                '<em class="'+foo_id+'">'+who+'</em>'+
                                (function(){
                                    var chat = "";
                                    for(var i = 0, max = text.length; i < max; i++){
                                        chat += '<div class="bubble '+foo_speech+'"><p>'+text[i]+'</p></div>';
                                    }
                                    return chat;
                                })();
                            '</div>'

            $content.append(userChat);

        } else if(typeof text === "string" || (typeof text === "object" && text.length === 1 ) ) {
           
            var userChat = '<div class="chat-wrap">'+
                                '<em class="'+foo_id+'">'+who+'</em>'+
                                '<div class="bubble '+foo_speech+'"><p>'+text+'</p></div>'+
                            '</div>'

            $content.append(userChat);

        }

    }
</script>
</body>
</html>