<!DOCTYPE html>
<html>
<head>
<title>temp chatbot manage</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
* {
    box-sizing: border-box;
}
table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin: 0 auto;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
form {
    width: 400px;
    margin: 0 auto;
}
form > div > textarea{
    height: 150px;
}
#InputCode {
    width: 400px;
}
.ans_text {
    width: 400px;
}

.ans_text textarea{
    width: 100%;
}

.dialog table{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.dialog table tr th {
    text-align: left;
}
.dialog table tr td input {
    width: 100%;
}

</style>
</head>
<body>
    
   <main>
       
       <fieldset>
            <legend>
                <h2>답변 추가하기</h2>
            </legend>
            <form>
                <div class="ans_input_code">
                    <h3>답변 할 질의 코드(input_code)</h3>
                    <input type="text" id="InputCode">
                </div>
                <div class="ans_text">
                    <h3>답변(answer_text_ko)</h3>
                    <textarea id="answerTextKo" style="resize:none;"></textarea>
                </div>
                <div class="ans_text">
                    <h3>답변(answer_text_en)</h3>
                    <textarea id="answerTextEn" style="resize:none;"></textarea>
                </div>
                <button id="addAnswer">답변생성</button>
            </form>
       </fieldset>
       <fieldset>
            <legend>
                 <h2>문장의미(sentence) 리스트</h2>
            </legend>
             <table class="type09">
                 <thead>
                     <th scope="cols">_id</th>
                     <th scope="cols">input_code</th>
                     <th scope="cols">input_text</th>
                     <th scope="cols">en_sentence</th>
                     <th scope="cols">수정</th>
                     <th scope="cols">삭제</th>
                 </thead>
                 <tbody id="sentensList">
                     <!--
                     <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                     </tr>
                     -->   
                 </tbody>
             </table>
        </fieldset>
       <fieldset>
            <legend>
                 <h2>답변(answer) 리스트</h2>
            </legend>
             <table class="type09">
                 <thead>
                     <th scope="cols">_id</th>
                     <th scope="cols">input_code</th>
                     <th scope="cols">answer_text_ko</th>
                     <th scope="cols">answer_text_en</th>
                     <th scope="cols">수정</th>
                     <th scope="cols">삭제</th>
                 </thead>
                 <tbody id="answersList">
                     <!--
                     <tr>
                         <td>input_code</td>
                         <td>answer_text_ko</td>
                     </tr>
                     -->   
                 </tbody>
             </table>
        </fieldset>
       
   </main> 

</body>
<script>
//sentence 리스트
$.ajax({
    method: "GET",
    url: "<%=url%>/sentence/get/list"
})
.done(function(data) {
    data.forEach(el => {
        let tr = `<tr>
                    <td>${el._id}</td>
                    <td>${el.input_code}</td>
                    <td>${el.input_text}</td>
                    <td>${el.en_sentence}</td>
                    <td><a href="javascript:sentenceEdit(\'${el.input_code}\');">수정</a></td>
                    <td><a href="javascript:sentenceDelete(\'${el._id}\');">삭제</a></td>
                </tr>`

        $("#sentensList").append(tr);
    });
})
.fail(function(fail){
    console.log(fail);
});

//answer 리스트
$.ajax({
    method: "GET",
    url: "<%=url%>/answer/get/list"
})
.done(function(data) {
    data.forEach(el => {
        let tr = `<tr>
                    <td>${el._id}</td>
                    <td>${el.input_code}</td>
                    <td>${el.answer_text_ko}</td>
                    <td>${el.answer_text_en}</td>
                    <td><a href="javascript:answerEdit(\'${el.input_code}\');">수정</a></td>
                    <td><a href="javascript:answerDelete(\'${el._id}\');">삭제</a></td>
                </tr>`

        $("#answersList").append(tr);
    });
    console.log(data);
})
.fail(function(fail){
    console.log(fail);
});

$("#addAnswer").on("click", function(){

    var inputCode = $("#InputCode").val();
    var answerTextKo = $("#answerTextKo").val();
    var answerTextEn = $("#answerTextEn").val() == '' ? null : $("#answerTextEn").val();
    alert(answerTextEn);
    //answer 추가
    $.ajax({
        method: "POST",
        url: "<%=url%>/answer/add",
        data: { 
            "input_code": inputCode,
            "answer_text_ko": answerTextKo,
            "answer_text_en": answerTextEn
        }
    })
    .done(function(data) {
        console.log(data);
    })
    .fail(function(fail){
        console.log(fail);
    });

});

//sentence 수정
function sentenceEdit(input_code){
    var editedText = prompt("input_code");
    if(editedText == null) return;
    $.ajax({
        method: "PUT",
        url: "<%=url%>/sentence/update",
        data: { 
            "input_code": input_code,
            "ed_input_code": editedText
        } 
    })
    .done(function(data){
        console.log(data);
        location.reload();
    })
    .fail(function(fail){
        alert(fail);
    })
} 

//sentence 삭제
function sentenceDelete(_id){
    var _confirm = confirm("해당 sentence를 삭제하시겠습니까?");
    if(_confirm == false) return;
    $.ajax({
        method: "DELETE",
        url: "<%=url%>/sentence/delete",
        data: {
            "_id": _id
        }
    })
    .done(function(data){
        console.log(data);
        location.reload();
    })
    .fail(function(fail){
        alert(fail);
    })
}  

//answer 수정
function answerEdit(input_code){
    var editedText = prompt("answer_text_ko");
    if(editedText == null) return;
    $.ajax({
        method: "PUT",
        url: "<%=url%>/answer/update",
        data: { 
            "input_code": input_code,
            "answer_text_ko": editedText
        } 
    })
    .done(function(data){
        console.log(data);
        location.reload();
    })
    .fail(function(fail){
        alert(fail);
    })
}  

//answer 삭제
function answerDelete(_id){
    var _confirm = confirm("해당 answer 삭제하시겠습니까?");
    console.log(_confirm);
    if(_confirm == false) return;
    $.ajax({
        method: "DELETE",
        url: "<%=url%>/answer/delete",
        data: {
            "_id": _id
        }
    })
    .done(function(data){
        console.log(data);
        location.reload();
    })
    .fail(function(fail){
        alert(fail);
    })
} 

</script>
</html>